body {
    background-color: #126bba;
}

/*Home*/
#home {
    width: 100%;
    height: 100%;
}

.intro-div {
    margin-top: 15%;
}

.name {
    font-weight: 800;
    color: #fff;
    line-height: 72px;
    font-size: 62px;
}

.typed {
    border-bottom: 1px solid #fff;
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    color: #fff;
}
/*Home*/

/*Navbar*/
.nav-bar {
    background-color: #126bba;
    box-shadow: none;
}
/*Navbar*/

/*Auto Typing CSS*/
.typed-cursor {
    color: #fff;
    font-size: 30px;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/*Auto Typing CSS*/